<template name="sectionsHeader">
   <div class="ui container" style="height:36px;">

               <div class="ui huge breadcrumb" style="line-height: 36px">
                   <a class="section" href="{{pathFor 'sections' owner='root' language=params.language}}">Приборы</a>

                   {{#if deviceTitle}}
                       <i class="right chevron icon divider"></i>
                       {{#if activeZoneTitle}}
                           <a class="section" href="{{pathFor 'sections' language=params.language owner=bcowner}}">{{deviceTitle}} <span style="font-size: 0.8rem">{{deviceModel}}</span></a>
                           <i class="right chevron icon divider"></i>
                           <div class="active section">Активная точка</div>
                           <i class="right chevron icon divider"></i>
                           <div class="active section">{{activeZoneTitle}}</div>
                       {{else}}
                           <div class="active section">{{deviceTitle}} <span style="font-size: 0.8rem">{{deviceModel}}</span></div>
                       {{/if}}
                   {{/if}}
               </div>


                {{>sectionsMenuActions}}


   </div>
</template>