<template name="imageContent">
  <div class="content">
    {{>imageContentActions}}
    <div class="header">
      <i class="photo icon handler"></i>
      <!--№{{position}} : -->
        <span >{{title}}</span>
    </div>
    <!--<div class="meta">-->
      <!--изменен: <span >{{timeToHuman modifiedAt}}</span>-->
    <!--</div>-->
  </div>
  <div class="image" style="max-width: 100%; height: auto;">
      <img src="{{fileURL data.file}}">
  </div>
  {{#if this.data.text}}
    <div class="content" >{{text}}</div>
  {{/if}}
  <div class="extra content">
    <!--<i class="check icon"></i>-->
    <!--создан: <span >{{timeToHuman createdAt}}</span>-->
  </div>
</template>
