<template name="packContent">
   <div class="content">
      {{>packContentActions}}
      <div class="header">
         <i class="photo icon handler"></i>
         <!--&lt;!&ndash;№{{position}} : -->
         <span>{{title}}</span>
      </div>

   </div>
   <div class="content packcontent">
      <div class="ui three column grid packgrid" >
         {{#each files}}
             <div class="column packitem">
                 <div class="ui segment" style="background-image:url({{fileURL this}})"></div>
             </div>
         {{/each}}
      </div>
   </div>
   <div class="extra content">

   </div>
</template>
