<template name="fourViewsModal">
    <div class="ui long modal" id="fourViewsModal">
        <div class="header">
            <div class="ui transparent fluid icon input">
                Виды
                <i class="cube icon"></i>
            </div>
        </div>
        <div class="content">
            <div class="ui grid">
                <!--<div class="eight wide column">-->
                    <!--<h4 class="ui center aligned header">-->
                        <!--Вид спереди-->
                    <!--</h4>-->

                    <!--<div class="ui large image" style="width:100%; height: auto;">-->
                        <!--{{#if item.data.frontViewImage}}-->
                            <!--<img class="ui centered medium image" src="{{fileURL item.data.frontViewImage}}" id="frontViewImage">-->
                        <!--{{else}}-->
                            <!--<img class="ui centered medium image" src="/assets/images/image.png" id="frontViewImage">-->
                        <!--{{/if}}-->
                    <!--</div>-->
                <!--</div>-->
                <div class="eight wide column">
                    <h4 class="ui center aligned header">
                        Вид сверху
                    </h4>

                    <div class="ui large image" style="width:100%; height: auto;">
                        {{#if item.data.topViewImage}}
                            <img class="ui centered medium image" src="{{fileURL item.data.topViewImage}}" id="topViewImage">
                        {{else}}
                            <img class="ui centered medium image" src="/assets/images/image.png" id="topViewImage">
                        {{/if}}
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui center aligned header">
                        Вид сзади
                    </h4>

                    <div class="ui large image" style="width:100%; height: auto;">
                        {{#if item.data.backViewImage}}
                            <img class="ui centered medium image" src="{{fileURL item.data.backViewImage}}" id="backViewImage">
                        {{else}}
                            <img class="ui centered medium image" src="/assets/images/image.png" id="backViewImage">
                        {{/if}}
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui center aligned header">
                        Вид слева
                    </h4>

                    <div class="ui large image" style="width:100%; height: auto;">
                        {{#if item.data.leftViewImage}}
                            <img class="ui centered medium image" src="{{fileURL item.data.leftViewImage}}" id="leftViewImage">
                        {{else}}
                            <img class="ui centered medium image" src="/assets/images/image.png" id="leftViewImage">
                        {{/if}}
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui center aligned header">
                        Вид справа
                    </h4>

                    <div class="ui large image" style="width:100%; height: auto;">
                        {{#if item.data.rightViewImage}}
                            <img class="ui centered medium image" src="{{fileURL item.data.rightViewImage}}" id="rightViewImage">
                        {{else}}
                            <img class="ui centered medium image" src="/assets/images/image.png" id="rightViewImage">
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>

        <input type="file" id="frontViewImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <input type="file" id="backViewImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <input type="file" id="leftViewImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <input type="file" id="rightViewImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <input type="file" id="topViewImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />

        <div class="actions">
            <div class="ui deny button">Отмена</div>
            <button class="ui positive right labeled icon button">
                Сохранить
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</template>
