<template name="rackDevice">
    <div style="height: {{this.deviceHeight}}px;
            width: 100%;
            position: absolute;
            top: {{this.position}}px;"
         class="device" draggable="true">

        {{#if this.image}}
            <img class="ui centered medium image" src="{{fileURL this.image}}" style="display: block; max-height: 100%; width: auto">
        {{else}}
            <img class="ui centered medium image" src="/assets/images/image.png" style="display: block; max-height: 100%; width: auto">
        {{/if}}


        <div style="    top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        margin-left: auto;
                        margin-right: auto;
                        position: absolute;
                        color:white;
                        font-size: 20px;
                        text-shadow: black 0 0 2px;
                    ">
            {{this.title}} {{this.model}}
        </div>

        <div style="    top: 5%;
                        left: 5%;
                        margin-left: auto;
                        margin-right: auto;
                        position: absolute;
                        color:black;
                        font-size: 10px;
                    ">
            <p style="margin: 0px">Высота: {{deviceHeight}}U</p>
            <p style="margin: 0px">Позиция: {{position}}</p>
        </div>
        <div class="removeRackItem" style="top: 5px;
                        right: 5px;
                        margin-left: auto;
                        margin-right: auto;
                        position: absolute;
                        color:black;
                        font-size: 20px;
                        cursor: pointer;">
            <i class="remove icon" ></i>
        </div>
    </div>
</template>
