<template name="imageContentActions">
    <div class="right floated">
        <div class="ui right pointing dropdown icon">
            <i class="settings icon"></i>
            <div class="menu">
                <div class="item" id="editFourViewsActions">
                    <i class="photo icon"></i>
                    Изменить
                </div>

                <div class="item" id="removeFourViewsActions">
                    <i class="remove icon"></i>
                    Удалить
                </div>
            </div>
        </div>
    </div>
</template>