<template name="videoModal">
  <div class="ui small modal" id="videoModal">
    <div class="header">
      <div class="ui transparent fluid icon input">
        <span style="margin-right:1rem;font-weight:normal;">№{{position}}</span><input type="text" placeholder="Введите название" id="title" value="{{item.title}}">
        <i class="film icon"></i>
      </div>
    </div>
    <div class="content" style="position:relative;">
        <!--<button-->
          <!--class="circular ui icon button thumbchooser">-->
          <!--<i class="file image outline icon"></i>-->
        <!--</button>-->
        <!--<button-->
         <!--class="circular ui icon button screenshooter">-->
         <!--<i class="camera retro icon"></i>-->
      <!--</button>-->
        <div class="ui video" style="max-width: 100%; height: auto; width: 100%;">
            {{#if item.data.file}}
            <video controls src="{{fileURL item.data.file}}" style="width: 100%"></video>
            {{/if}}
        </div>
        <div class="ui videoinfo"></div>

        <input type="file" id="videoSelect" accept="video/mp4,video/mpeg" style="display:none;"/>
        <!--<input type="file" id="imageSelect" style="display:none;" />-->

      <div class="ui form videodescriptor">
        <div class="field">
          <label>Текст</label>
          <textarea class="videotext" placeholder="Здесь основное описание" value="{{item.data.text}}" id="text"></textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui deny button">Отмена</div>
      <button class="ui positive right labeled icon button">
        Сохранить
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>
</template>
