<template name="statProgress">
    <div class="col-lg-5">
        <div class="panel panel-primary blackborder">
            <div class="panel-heading black">
                <h3 class="panel-title">Информация</h3>
            </div>
            <div class="panel-body">
              <p>Всего терминалов: {{termCount}}</p>
              <p>Опрошено: {{termOk}}</p>
              <p>Не отвечают: {{termNR}}</p>
            </div>
        </div>
    </div>
</template>