<template name="statTableRow">
	<tr>
		<td style="width: 1%"><span style="white-space: nowrap">{{time}}</span></td>
		<td style="width: 1%">{{client}}</td>
        <td>{{SectionName}}</td>
        <td>{{Type}}</td>
        <td>{{Language}}</td>
        <td>{{Msg}}</td>
   </tr>
</template>