<template name="statistics">
<div class="container-fluid">
    <div class="row firstRow">
		{{>selectStatistics}}
    </div>

    {{#if zero}}
        По данному запросу ничего не найдено
    {{else}}
    	<table class="table table-bordered table-striped">
       		<thead>
            	<tr>
                	<th>Дата</th>
                	<th>Терминал</th>
                    <th>Секция</th>
                    <th>Тип</th>
                	<th>Язык</th>
                    <th>Сообщение</th>
	           </tr>
            </thead>
            <tbody>
            {{#each stat}}
                {{>statTableRow}}
            {{/each}}
            </tbody>
        </table>

    <nav>
        <ul class="pagination">
            <li class=""><a href="{{pathFor currentRoute lang=lang page='0'}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {{#each pages}}
                {{>pagination}}
            {{/each}}
            <li><a href="{{pathFor currentRoute lang=lang page=maxpage}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
    {{/if}}

</div>
</template>