<template name="sectionModal">
    <div class="ui modal" id="sectionModal">
        <i class="close icon"></i>
        <div class="header">
            {{#if title}}
                Изменить прибор
            {{else}}
                Создать прибор
            {{/if}}

        </div>
        <div class=" content">

                <div class="ui form" id="secionForm">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Название</label>
                            <input type="text" placeholder="название" id="title" name="title" value="{{title}}">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Модель</label>
                            <input type="text" placeholder="модель" id="model" name="model" value="{{section.model}}">
                        </div>
                        <div class="eight wide field">
                            <label>Высота (в юнитах)</label>
                            <input type="text" placeholder="высота в юнитах" id="deviceHeight" name="deviceHeight" value="{{section.deviceHeight}}">
                        </div>
                    </div>
                    <div class="ui error message"></div>
                </div>

            <h4>
                Иконка
                {{#if section.image}}
                    <a href="" style="color: red" id="removeIcon">(удалить)</a>
                {{/if}}
            </h4>



            <div class="ui large image" style="width:100%; height: auto;">
                {{#if section.image}}
                    <img class="ui centered medium image" src="{{fileURL section.image}}" id="activeImage" style="width: auto; max-height:400px">
                {{else}}
                    <img class="ui centered medium image" src="/assets/images/image.png" id="activeImage" style="width: auto; max-height: 400px">
                {{/if}}
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Отмена
            </div>
            <div class="ui positive right labeled icon button">
                Сохранить
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <input type="file" id="iconImageInput" accept="image/jpeg,image/png" style="visibility:hidden; display:none" />
</template>
