<template name = "sheduleTable">
	<table class="table table-bordered">
        <thead>
            <tr>
	            <th>Название</th>
                <th>Задание</th>
	            <th>Старт</th>
	            <th>Повторять</th>
	            <th></th>
            </tr>
        </thead>
        <tbody>
        
            {{#each tasks}}
                {{>sheduleTableRow}}
            {{/each}}

            <tr>
                <td contenteditable="true"><input class="form-control taskName"/></td>
                <td>
                    <select class="form-control taskJob">
                        {{#each jobList}}
                            <option value = {{job}}>{{name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td style="width:30%">
                    <div class="input-group datetimepicker">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="set-due-date form-control" id="taskStart" type="text"/>
                    </div>
                </td>
                <td>
                    <select class="form-control taskRepeat">
                        {{#each jobRepeat}}
                            <option value = {{repeat}}>{{name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="addSheduleTask fingerPointer"><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
            </tbody>
        </table>
</template>

<template name="sheduleTableRow">
	<tr>
		<td>{{taskName}}</td>
        <td>{{jobName}}</td>
		<td>{{taskStart}}</td>
		<td>{{taskRepeat}}</td>
		<td class="removeSheduleTask fingerPointer"><span class="glyphicon glyphicon-remove"></span></td>
	</tr>
</template>