<template name="item">
    <div class="ui container" style="margin-bottom: 1em">
        <div class="ui fluid card">
            {{#if checkType 'fourViews'}}
                {{>fourViewsContent}}
            {{/if}}

            {{#if checkType 'image'}}
                {{>imageContent}}
            {{/if}}

            {{#if checkType 'video'}}
                {{>videoContent}}
            {{/if}}

            {{#if checkType 'text'}}
                {{>textContent}}
            {{/if}}

            {{#if checkType 'pack'}}
                {{>packContent}}
            {{/if}}
        </div>
    </div>
</template>