<template name="imageModal">
    <div class="ui long modal image" id="imageModal">
        <div class="header">
            <div class="ui transparent fluid icon input">
                <input type="text" value="{{title}}" id="title" placeholder="Введите название">
                <i class="photo icon"></i>
            </div>
        </div>
        <div class="image content">
            <div class="ui large image" style="width:100%; height: auto;">
                {{#if item.data.file}}
                    <img src="{{fileURL item.data.file}}" >
                {{else}}
                    <img  src="/assets/images/image.png" id="image">
                {{/if}}
            </div>
            <div class="description" style="width:100%;">
                <div class="ui form">
                    <div class="field">
                        <label>Текст</label>
                        <textarea id="text" placeholder="Здесь основное описание" value="{{text}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="file" id="fileInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <div class="actions">
            <div class="ui deny button">Отмена</div>
            <button class="ui positive right labeled icon button">
                Сохранить
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</template>
