<template name="rackHeader">
   <div class="ui container header">
       <div class="ui grid">
           <div class="left floated ten wide column">
               <h1 style="text-align: left">Рэк</h1>
           </div>
           <div class="right floated six wide column">
                {{>rackMenuActions}}
           </div>
       </div>
   </div>
</template>