<template name="menu">
<div class="ui main fluid container">
   <div class="ui container text">
      <div class="ui middle aligned grid">
         <div class="row" style="min-height: 5rem;">
            <div class="right floated three wide column">
                {{>menuActions}}
            </div>
         </div>
      </div>
   </div>
   <div class="ui divider" style="margin-top: 0rem; margin-bottom: 0rem;"></div>
</div>
</template>
