<template name="activeImageSection">
    <div class="ui fluid card">
        <div class="content">
            <div class="right floated">
                <div class="ui right pointing dropdown icon">
                    <i class="settings icon"></i>
                    <div class="menu">
                        {{#if activePointModeAdd}}
                            <div class="item" id="removePoints">
                                <i class="remove circle outline icon"></i>
                                Удаление активных точек
                            </div>
                        {{/if}}

                        {{#if activePointModeRemove}}
                            <div class="item" id="addPoints">
                                <i class="add icon"></i>
                                Добавление активных точек
                            </div>
                        {{/if}}

                        <div class="item" id="editImage">
                            <i class="image icon"></i>
                            Изменить изображение
                        </div>

                        <div class="item" id="removeImage">
                            <i class="remove icon"></i>
                            Удалить
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <i class="crosshairs icon"></i>
                Активные зоны

            </div>

            <div class="meta">
                {{#if activePointModeAdd}}
                    режим редактирования: создание/переход
                {{/if}}
                {{#if activePointModeRemove}}
                    режим редактирования: удаление
                {{/if}}
            </div>
        </div>

        <div class="content">
            <div style="position: relative">
                {{#if image}}
                    <img class="ui centered fluid image" src="{{fileURL image}}" id="activeImage">
                {{else}}
                    <img class="ui centered fluid image" src="/assets/images/image.png" id="activeImage">
                {{/if}}

                {{#each activeZoneList}}
                    {{>activeButton}}
                {{/each}}
            </div>
        </div>

        <div class="extra content">
            <div class="ui accordion field">
                <div class="title">
                    <i class="icon dropdown"></i>
                    Список точек
                </div>
                <div class="content field">
                    <div class="ui middle aligned divided list">
                        {{#each activeZoneList}}
                            {{>activeZoneListItem}}
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui small modal aztm" id="activeZoneTitleModal">
        <i class="close icon"></i>
        <div class="header">
            Введите название точки
        </div>
        <div class="content">
            <div class="ui form">
                <div class="inline fields">
                    <div class="sixteen wide field">
                        <label>Название</label>
                        <input type="text" placeholder="" id="POIName">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button yellow cancel">Отмена</div>
            <div class="ui button green approve">Создать</div>
        </div>
    </div>

    <div class="ui small modal eaztm" id="editActiveZoneTitleModal">
        <i class="close icon"></i>
        <div class="header">
            Введите название точки язык: {{language}}
        </div>
        <div class="content">
            <div class="ui form">
                <div class="inline fields">
                    <div class="sixteen wide field">
                        <label>Название</label>
                        <input type="text" placeholder="" id="POINameEdited">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button yellow cancel">Отмена</div>
            <div class="ui button green approve">Сохранить</div>
        </div>
    </div>
</template>