<template name="fourViewsContent">
    <div class="content">
        {{>fourViewsActions}}
        <div class="header">
            <i class="cube icon"></i>
            Виды
        </div>
        <!--<div class="meta">-->
            <!--изменен: <span >{{ modifiedAt}}</span>-->
        <!--</div>-->
    </div>
    <div class="content" style="max-width: 100%; height: auto;">
        <div class="ui grid">
            <!--<div class="four wide column">-->
                <!--{{#if this.data.frontViewImage}}-->
                    <!--<img class ="ui fluid image" src="{{fileURL this.data.frontViewImage}}">-->
                <!--{{else}}-->
                    <!--<img class ="ui fluid image" src="/assets/images/image.png">-->
                <!--{{/if}}-->
            <!--</div>-->

            <div class="four wide column">
                {{#if this.data.backViewImage}}
                    <img class ="ui fluid image" src="{{fileURL this.data.backViewImage}}">
                {{else}}
                    <img class ="ui fluid image" src="/assets/images/image.png">
                {{/if}}
            </div>

            <div class="four wide column">
                {{#if this.data.leftViewImage}}
                    <img class ="ui fluid image" src="{{fileURL this.data.leftViewImage}}">
                {{else}}
                    <img class ="ui fluid image" src="/assets/images/image.png">
                {{/if}}
            </div>

            <div class="four wide column">
                {{#if this.data.rightViewImage}}
                    <img class ="ui fluid image" src="{{fileURL this.data.rightViewImage}}">
                {{else}}
                    <img class ="ui fluid image" src="/assets/images/image.png">
                {{/if}}
            </div>

            <div class="four wide column">
                {{#if this.data.topViewImage}}
                    <img class ="ui fluid image" src="{{fileURL this.data.topViewImage}}">
                {{else}}
                    <img class ="ui fluid image" src="/assets/images/image.png">
                {{/if}}
            </div>
        </div>
    </div>
    {{#if this.data.text}}
        <div class="content" >{{this.data.text}}</div>
    {{/if}}
    <!--<div class="extra content">-->
        <!--<i class="check icon"></i>-->
        <!--создан: <span >{{ createdAt}}</span>-->
    <!--</div>-->
</template>