<template name="login">
    <div class="ui login middle aligned center aligned grid">
        <div class="column">
            {{> atForm state='signIn' hideSignUpLink='true' showForgotPasswordLink='true'}}
        </div>
    </div>
</template>
