.checkboard {
    background-image:
            -moz-linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%),
            -moz-linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%);
    background-image:
            -webkit-linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%),
            -webkit-linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%);
    -moz-background-size:21px 21px;
    background-size:21px 21px;
    -webkit-background-size:21px 21px;
    background-position:0 0, 10px 10px;
}