@font-face  {
   font-family: 'Gotham Pro';
   src: local('Gotham Pro'),
      url('/fonts/GothaProReg.otf') format('truetype');
   font-weight: 300;
}

//@font-face  {
//   font-family: 'Proxima Nova Black';
//   src: local('Proxima Nova Black'),
//      url('/fonts/ProximaNova-Black.otf') format('truetype');
//   font-weight: 300;
//}
//@font-face  {
//   font-family: 'Proxima Nova Bold';
//   src: local('Proxima Nova Bold'),
//      url('/fonts/ProximaNova-Bold.otf') format('truetype');
//   font-weight: 300;
//}
//
//@font-face  {
//   font-family: 'Proxima Nova Regular';
//   src: local('Proxima Nova Regular'),
//      url('/fonts/ProximaNova-Reg.otf') format('truetype');
//   font-weight: 300;
//}


//
//@font-face  {
//   font-family: 'Roboto';
//   src: local('Roboto'),
//      url('/fonts/Roboto-Thin.ttf') format('truetype');
//   font-weight: 300;
//}
//
//@font-face  {
//   font-family: 'Roboto';
//   src: local('Roboto'),
//      url('/fonts/Roboto-Regular.ttf') format('truetype');
//   font-weight: 400;
//}
//
//@font-face  {
//   font-family: 'Panton';
//   src: local('Panton'),
//      url('/fonts/Panton-Regular.otf') format('truetype');
//   font-weight: 400;
//}
//
//
//@font-face  {
//   font-family: 'Roboto';
//   src: local('Roboto'),
//      url('/fonts/Roboto-Bold.ttf') format('truetype');
//   font-weight: 700;
//}
//
//@font-face  {
//   font-family: 'Noto Sans';
//   src: local('Noto Sans'),
//      url('/fonts/NotoSans-Regular.ttf') format('truetype');
//   font-weight: 400;
//}
//
//@font-face  {
//   font-family: 'Noto Sans';
//   src: local('Noto Sans'),
//      url('/fonts/NotoSans-Bold.ttf') format('truetype');
//   font-weight: 700;
//}
//
////
////@font-face  {
////   font-family: 'Helvetica Neue';
////   src: local('Helvetica Neue'),
////      url('/fonts/HelveticaNeueCyr-Thin.otf');
////   font-weight: 300;
////}
//
//@font-face  {
//   font-family: 'Helvetica Neue Light';
//   src: local('Helvetica Neue Light'),
//      url('/fonts/HelveticaNeueCyr-Light.otf');
//   font-weight: 400;
//}
//
//@font-face  {
//   font-family: 'Helvetica Neue Medium';
//   src: local('Helvetica Neue Medium'),
//      url('/fonts/HelveticaNeueCyr-Medium.otf');
//   font-weight: 500;
//}
//
//@font-face  {
//   font-family: 'Helvetica Neue Bold';
//   src: local('Helvetica Neue Bold'),
//      url('/fonts/HelveticaNeueCyr-Bold.otf');
//   font-weight: 700;
//}
