<template name="topMenu">
    <style>
        body{
            padding-top: 55px;
        }
    </style>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="{{pathFor 'home'}}" class="header item">
                {{#if enableIRLogo}}
                    <img class="logo" src="/assets/images/ivr_logo_only.png">
                {{/if}}
                CMS
            </a>
            <a href="{{pathFor 'sections' language=language}}" class="{{active 'sections'}} item">Приборы</a>
            <a href="{{pathFor 'rack' language=language}}" class="{{active 'rack'}} item">Рэк</a>
            <div class="right menu">
                <div class="ui simple dropdown item">
                    {{language}} <i class="dropdown icon"></i>
                    <div class="menu">
                        {{#each languages}}
                            {{>topMenuLanguageItem}}
                        {{/each}}
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    Обновить <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="#" id="refreshAllClients">все</a>
                        {{#each terminals}}
                            {{>topMenuTerminalItem}}
                        {{/each}}
                    </div>
                </div>
                <div class="ui simple dropdown item">
                    <i class="content icon"></i>
                    <div class="menu">
                        <a class="{{active 'settings'}} item" href="{{pathFor 'settings' language=language}}">Нaстройки</a>
                        <a class="item" href="{{pathFor 'logout'}}">Выход</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>