<template name="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Галерея</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{pathFor 'homeRedirect'}}">Арендаторы</a></li>
                    <li><a href="{{pathFor 'controlPanel'}}">Панель управления</a></li>
                    <li><a href="{{pathFor 'statisticRedirect' }}">Статистика</a></li>
                    {{#if isAdmin}}
                        <li><a href="{{pathFor 'adminLists'}}">Списки</a></li>
                    {{/if}}
                    {{#if mainTable}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Язык: {{lang}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ pathFor currentRoute lang='ru' page=page }}">Русский</a></li>
                            <li><a href="{{ pathFor currentRoute lang='en' page=page }}">Английский</a></li>
                        </ul>
                    </li>
                    {{/if}}
                    <li><a href="{{pathFor 'logout'}}">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>