<template name="controlPanel">
    <div class="container">
        <div class="row firstRow">
            <div class ="col-md-12">
                <div class="page-header">
                    <h3 class="pull-left">Настройки</h3>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-primary">Действия</button>
                            <button class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#" class="refreshAll">Обновить все</a></li>
                                <li><a href="#" class="addTerminal">Добавить</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Почта для уведомлений</div>
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="exampleInputName2" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="sumail" placeholder="{{suMail}}" >
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-default changesumail">изменить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Пароль администратора</div>
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="exampleInputName2" class="col-sm-2 control-label">Пароль</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="userpwd" placeholder="новый пароль">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputName2" class="col-sm-2 control-label">Подтвердите пароль</label>
                                <div class="col-sm-5">
                                    <input type="password" class="form-control" id="userpwd1" placeholder="подтвердите пароль">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-default changeupwd">изменить</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class ="col-md-12">
                        <h3 class="pull-left">Терминалы</h3>
                    </div>
                </div>

                {{#each terminals}}
                    {{>terminalDescription}}
                {{/each}}

            </div>
        </div>
    </div>
</template>