<template name="login">
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Авторизация</h2>
            <label for="inputEmail" class="sr-only">Login</label>
            <input id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>

    </div>
</template>