<template name="mainTable">
    <div class="container-fluid">

        <input type="file" accept = "image/jpeg" id="avatarSelect" style="display:none">
        <button class="refreshFromCSV" style="margin-bottom:20px">Обновить из CSV</button>

        <div class="progress" {{hideProgress}} >
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Аккаунт</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Департамент</th>
                <th>Подразделение</th>
                <th>Кабинет</th>
                <th>Внутр. телефон</th>
                <th>Телефон</th>
            </tr>
            </thead>
            <tbody>
            {{#each sberUsers}}
                {{>tableRow}}
            {{/each}}
            </tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class=""><a href="{{pathFor currentRoute keyword = keyword page='0'}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                {{#each pages}}
                    {{>pagination}}
                {{/each}}
                <li><a href="{{pathFor currentRoute keyword = keyword page=maxpage}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</template>