<template name="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'mainTable' page =0}}">Сбербанк</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">


                    <li><a href="{{pathFor 'mainTable' page = 0}}">Сотрудники</a></li>
                    <li><a href="{{pathFor 'controlPanel'}}">Панель управления</a></li>
                    <li><a href="{{pathFor 'statisticPanel' }}">Статистика</a></li>

                    <li><a href="{{pathFor 'logout'}}">Выход</a></li>
                </ul>
                <div class="navbar-form navbar-right input-group searchField">
                    <div class="form-group">
                        <input type="text" class="form-control searchField" {{disabled}} value = "{{keyword}}" placeholder="Поиск...">
                        <span class="input-group-btn">
                            <button class="btn btn-default clearSearch" type="button" {{disabled}}><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>