<template name="selectStatistic">
    <div class="col-lg-5">
        <div class="panel panel-primary blackborder">
            <div class="panel-heading black">
                <h3 class="panel-title">Выбор терминалов и диапазона дат</h3>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Terminal</label>
                        <div class="col-sm-10">
                            <select class="form-control terminalSelect">

                                <option value = 'all' {{selected 'all'}}>Все</option>
                                {{#each terminals}}
                                    <option value ='{{ip}}' {{selected ip}}>{{ip}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Период</label>

                        <div class="col-sm-5">
                            <div class="input-group datetimepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input class="set-due-date form-control " id="statFromdate" type="text" value="{{from}}"/>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="input-group datetimepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input class="set-due-date form-control" id="statTodate" type="text" value="{{to}}"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Вывод</label>
                        <div class="col-sm-10">
                            <select class="form-control viewSelect">
                                <option value = 'journal' {{selectedView 'journal'}}>Журнал</option>
                                <option value = 'byLogin' {{selectedView 'byLogin'}}>По логину</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default showStat">Показать</button>
                            <button class="btn btn-default downloadSelected">Загрузить .csv</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>