<template name="statTableRow">
    <tr>
        <td style="width: 1%"><span style="white-space: nowrap">{{time}}</span></td>
        <td style="width: 1%">{{client}}</td>
        <td style="width: 1%">{{Login}}</td>
        <td style="width: 1%"><span style="white-space: nowrap">{{Name}}</span></td>
        <td>{{message}}</td>
    </tr>
</template>