<template name="statisticPanel">
    <div class="container-fluid">
        <div class="row">
            {{>selectStatistic}}
        </div>



            {{#if isJournalView}}
                {{#if zero}}
                    По данному запросу ничего не найдено
                {{else}}
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Терминал</th>
                            <th>Интересующий логин</th>
                            <th>ФИО</th>
                            <th>Сообщение</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each statistic}}
                            {{>statTableRow}}
                        {{/each}}
                        </tbody>
                    </table>
                {{/if}}
            {{else}}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Логин</th>
                        <th>ФИО</th>
                        <th>Выбран в поиске</th>
                        <th>Построен маршрут</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each Calculated}}
                        <tr>
                            <td style="width: 1%">{{login}}</td>
                            <td style="width: 1%"><span style="white-space: nowrap">{{name}}</span></td>
                            <td style="width: 1%">{{type0}}</td>
                            <td style="width: 1%">{{type1}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}

        {{#unless zero}}
        <nav>
            <ul class="pagination">
                <li class=""><a href="{{pathFor currentRoute page='0'}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                {{#each pages}}
                    {{>statPagination}}
                {{/each}}
                <li><a href="{{pathFor currentRoute terminal = terminal fromDate = fromDate toDate = todate page=maxpage view = view}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
        {{/unless}}

    </div>
</template>