
<template name="statPagination">
    <li class="{{isActive}}"><a href="{{ pathFor currentRoute terminal=terminal page=this fromDate=fromDate toDate=toDate view=view keyword=keyword}}">{{pageNum}} <span class="sr-only"></span></a></li>
</template>