<template name="tableRow">
    <tr>
        <td style="width: 1%" class='text-center'><input type="checkbox" class = "activeCheckBox refreshDisable" {{refreshDisable}}></td>
        <td style="width: 1%" class = "fingerPointer avatarTd">
            <div>
                <span style="white-space: nowrap" class="popoverAncor" data-toggle="popover" rel="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="{{popoverContent}}">{{login}}</span>
            </div>
        </td>
        <td class = "name" contenteditable="true"><span style="white-space: nowrap">{{name}}</span></td>
        <td class="description" contenteditable="true">{{description}}</td>
        <td class="department" contenteditable="true" style="width: 30%">{{department}}</td>
        <td class="division" contenteditable="true" style="width: 20%" >{{division}}</td>
        <td class="room" contenteditable="true" style="width: 1%">{{room}}</td>
        <td class="intPhone" contenteditable="true" style="width: 1%"><span style="white-space: nowrap">{{intPhone}}</span></td>
        <td class="phone" contenteditable="true" style="width: 1%"><span style="white-space: nowrap">{{phone}}</span></td>
    </tr>
</template>