<template name="terminalDescription">
    <div class="panel {{panelClass}}">
        <div class="panel-heading">{{ip}}</div>
        <div class="panel-body">
            <p>Статус: {{status}}</p>
            <p>Последнее обновление: {{updatedAt}}</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default refresh" {{disabled}}>Обновить</button>
            <!--<button class="btn btn-warning reboot" {{disabled}}>Перезагрузить</button>-->
            <!--&lt;!&ndash;<button class="btn btn-danger turnoff" {{disabled}}>Выключить</button>&ndash;&gt;-->

            <button class="btn btn-danger deleteTerminal">Удалить</button>
        </div>
    </div>
</template>