<template name="addToRackModal">
    <div class="ui modal" id="addToRackModal">
        <i class="close icon"></i>
        <div class="header">
            Добавить прибор в рэк
        </div>
        <div class=" content">
            <div class="ui form" id="rackForm">
                    <div class="ui sub header">Выберите прибор</div>
                    <select name="devices" class="ui fluid search dropdown" id="select">
                        <option value="">Приборы</option>
                        {{#each devices}}
                            {{>deviceItem}}
                        {{/each}}
                     </select>

                <div class="fields">
                    <div class="eight wide field">
                        <label>Отступ сверху</label>
                        <input type="text" placeholder="отступ в шагах" id="devicePosition" name="devicePosition" value="{{section.deviceHeight}}">
                    </div>
                </div>

                <div class="ui error message"></div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Отмена
            </div>
            <div class="ui positive right labeled icon button">
                Ок
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>