<template name="logout">
    <a href="{{pathFor 'logout'}}" class="">
        <button class="ui basic button">
            <i class="power icon"></i>
            Выйти
        </button>
    </a>
</template>
