<template name="section">
    <div class="ui container" style="margin-bottom: 1em">
        {{#if activeImage}}
            {{>activeImageSection}}
        {{else}}
            <div class="ui fluid card">
                <div class="content">
                    {{>sectionMenu}}
                    <div class="header">
                        <a class="header" href="{{pathFor 'sections' language=language owner=this._id}}">
                            {{title}}
                        </a>
                    </div>
                    <div class="meta">
                        модель:{{model}};
                        высота:{{deviceHeight}}U
                    </div>
                </div>
                <div class="content">
                    <div style="position: relative">
                        {{#if image}}
                            <img class="ui centered fluid image" id="icon" src="{{fileURL image}}" style="display: block; max-height: 250px; width: auto">
                        {{else}}
                            <img class="ui centered fluid image" id="icon" src="/assets/images/image.png" style="display: block">
                        {{/if}}
                    </div>
                </div>
                {{#if this.data.text}}
                    <div class="content" ></div>
                {{/if}}
                <div class="extra content">
                </div>
            </div>
        {{/if}}
    </div>
</template>