<template name="menuSubSection">
   <div class="item">
      <div class="content">
      {{#if isActive}}
         <div class="header">{{title}}</div>
      {{else}}
         <a style="color:teal;" href="{{pathFor "sections" page=0 owner=this._id lang=lang}}">
            {{title}}
         </a>
      {{/if}}
      </div>
   </div>
</template>
