<template name="divisionModal">
    <div class="modal fade" id="divisionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Выберите категорию</h4>
                </div>
                <div class="modal-body">
                    {{#each divisions}}
                        {{>divisionModalString}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>