body {
    /*padding-top: 70px;*/
    /*padding-bottom: 30px;*/
    height: 100%;

}

html {
    height: 100%;
}

.col-center{
  margin:0 auto;
}

.firstRow{
    margin-top: 70px;
}

.black{
    background-color: #333 !important;
    border-color: #333 !important;
    color: #9d9d9d !important;
}

.blackborder{
    border-color: #333 !important;
}

.fingerPointer{
    cursor: pointer;
}

.defaultRow{
    background-color: #e9e9e9;
}

#mapContainer{
    height: 100%;
    margin-top: -0px; }