<template name="divisionPanel">
    <div class="col-lg-5">
        <div class="panel panel-primary blackborder">
            <div class="panel-heading black">
                <h3 class="panel-title">Разделы</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    {{#each divisions}}
                        {{>divisionPanelButton}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>