<template name="mainTableView">

    <input type="file" accept = "image/jpeg, image/png, image/bmp" id="logoselect" style="display:none">

    <div class="container-fluid">
        <div class="row firstRow">
            <!--панель разделы-->
            {{>divisionPanel}}
            {{>searchPanel}}
            <!-- {{>sortPanel}} -->
        </div>

        <!--главная таблица-->
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Актив</th>
                <th>Поиск</th>
                <th>Обновление</th>
                <th>Название</th>
                <th>Категория</th>
                {{#if isAdmin}}
                    <th>Раздел</th>
                {{/if}}
                <th>Описание</th>
                <th>Ключевые слова</th>
                <th>Логотип</th>
                <th></th>
                <th>Тип</th>
                <!--<th></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each renters}}
                {{>tableRow}}
            {{/each}}
            </tbody>
        </table>
        
        <nav>
            <ul class="pagination">
                <li class=""><a href="{{pathFor currentRoute lang=lang page='0'}}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                {{#each pages}}
                    {{>pagination}}
                {{/each}}
                <li><a href="{{pathFor currentRoute lang=lang page=maxpage}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>

    <!-- Modal -->
    {{>categoryModal}}

    <!--TextEditorModal-->
    {{>descriptionModal}}

    <!--Type Modal-->
    {{>typeModal}}

    <!--Confirm Modal-->
    {{>clearRenterModal}}

    <!--Division Modal-->
    {{>divisionModal}}

</template>