<template name="searchPanel">
    <div class="col-lg-4 col-lg-offset-3">
        <div class="panel panel-primary blackborder">
            <div class="panel-heading black">
                <h3 class="panel-title">Поиск</h3>
            </div>
            <div class="panel-body">
	        	<div class="form-inline">
					<div class="form-group">
						<label for="searchNo">#</label>
						<input type="text" class="form-control" id="searchNo" value="{{searchNo}}">
					</div>
					<div class="form-group">
						<label for="searchName">Название</label>
						<input type="text" class="form-control" id="searchName" value="{{searchName}}">
					</div>
			  	</div>
            </div>
        </div>
    </div>
</template>