<template name="sortPanel">
    <div class="col-lg-4 col-lg-offset-3">
        <div class="panel panel-primary blackborder">
            <div class="panel-heading black">
                <h3 class="panel-title">Сортировка</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    {{#each sortArray}}
                        {{>sortPanelButton}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>