<template name="tableRow">
    <tr>
        <td style="width: 1%" contenteditable="{{isAdmin}}" class="cellNumber">{{cellNumber}}</td>
<!--         {{#if isAdmin}}
            <td contenteditable="{{isAdmin}}" class="tableBinding">{{modelBinding}}</td>
        {{/if}} -->
        <td style="width: 1%" class='text-center'><input type="checkbox" class = "activeCheckBox" {{isActive}}></td>
        <td style="width: 1%" class='text-center'><input type="checkbox" class = "isInSearchCheckBox" {{isInSearch}}></td>
        <td style="width: 1%"> <span style="white-space: nowrap">{{modifiedAt}}</span></td>
        <td contenteditable="true" class = "tableTitleEditable">{{title}}</td>
        <td class="tableCategory fingerPointer">{{category}}</td>
        {{#if isAdmin}}
            <td class="tableDivision fingerPointer">{{division}}</td>
        {{/if}}
        <td style="width: 30%" class="tableDescription">{{description}}</td>
        <td style="width: 20%" contenteditable="true" class="tableKeyWords">{{keywords}}</td>
        <td style="width: 1%" class="tableLogo fingerPointer">
            <div>
                <span style="white-space: nowrap" class="popoverAncor" data-toggle="popover" rel="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="{{popoverContent}}">{{logo}}</span>
            </div>
        </td>
        <td style="width: 1%" class='text-center'><input type="checkbox" class="activeLogoCheckBox" {{isLogoActive}}></td>
        <td style="width: 1%"  class="tableType fingerPointer">{{type}}</td>
        <!--<td><span class="glyphicon glyphicon-pencil"></span></td>-->
        <td style="width: 1%"  class="tableClearRenter fingerPointer text-center"><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
</template>