<template name="videoContent">
    <div class="content">
        {{>videoContentActions}}
        <div class="header">
            <i class="film icon handler"></i>
            <!--№{{position}} :-->
            <span> {{title}}</span>
        </div>
        <!--<div class="meta">-->
            <!--изменен: <span>{{timeToHuman modifiedAt}}</span>-->
        <!--</div>-->
    </div>
    <div class="video" style="max-width: 100%; height: auto;">
        <video src="{{fileURL data.file}}" controls></video>
    </div>
    {{#if data.text}}
        <div class="content" >{{text}}</div>
    {{/if}}
    <div class="extra content">
        <!--<i class="check icon"></i>-->
        <!--создан: <span>{{timeToHuman createdAt}}</span>-->
    </div>
</template>
