<template name="rack">
    {{>rackHeader}}
    <div class="ui container content">
        {{#unless devicesList.length}}
            <div class="ui message">
                <ul class="list">
                    {{#unless devicesCount}}
                        <li>
                            Не создано ни одного прибора. <a href="{{pathFor 'sections' language=params.language}}">Создайте приборы.</a>
                        </li>
                    {{/unless}}

                    <li><a href="{{pathFor 'addToRack' language=params.language}}">Добавьте</a> приборы в рэк.</li>
                </ul>
            </div>
        {{/unless}}

        <div class="ui message help">
            <ul class="list">
                <li>Для добавления приборов, дважды кликните в рэк или нажмите кнопку действие.</li>
                <li>Менять позицию приборов можно перетаскиванием.</li>
            </ul>
        </div>

        <div class="draggable" style="width: 100%;
                    background-color: rgb(240,240,240);
                    height: 1640px;
                    position: relative" id="rackContainer">

            {{#each devicesList}}
                {{>rackDevice}}
            {{/each}}

        </div>
    </div>
</template>