<template name="header">
   <div class="ui container header" style="margin-top: 70px">
       <div class="ui grid">
           <div class="left floated six wide column">
               <h1 style="text-align: left">Приборы</h1>
           </div>
           <div class="right floated six wide column">

               {{>menuActions}}

           </div>
       </div>
   </div>
</template>
