<template name="settings">
    <div class="ui container">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    Клиенты
                </div>
                <div class="description">

                    {{#if showTable}}
                        <table class="ui collapsing  celled table">
                            <thead>
                            <tr>
                                <th>IP адрес</th>
                                <th></th>
                            </tr>
                            </thead>

                            {{#each terminals}}
                                {{>terminalRow}}
                            {{/each}}
                        </table>
                    {{/if}}

                    <div class="ui action input">
                        <input type="text" placeholder="введите IP адрес">
                        <div class="ui button addIP">Добавить</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    Язык приложения
                </div>
                <div class="description">
                    <div class="ui action input">
                        <select class="ui fluid search dropdown applang">
                            {{#each languages}}
                                <option selected="{{selectedValue this}}" value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <div class="ui button applyLangs">Применить</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<template name="terminalRow">
    <tr>
        <td>{{this.ip}}</td>
        <td class="removeIP"><i class="remove icon"></i></td>
    </tr>
</template>