<template name="activeButton">
    <button class="circular ui icon button" style="
                                            position: absolute;
                                            top: {{y}}%;
                                            left: {{x}}%;
                                            margin-top: -14px;
                                            margin-left: -14px;
                                            " data-content="{{title}}">
        <i class="crosshairs icon"></i>
    </button>
</template>