<template name="language">
    <div class="ui dropdown" style="margin-right: 5px">
        <div class="text">Язык ({{params.language}})</div>
        <i class="dropdown icon" style="margin-left: 2px"></i>
        <div class="menu">
            {{#each languages}}
                <div class="item">{{this}}</div>
            {{/each}}
        </div>
    </div>
</template>
