<template name="adminLists">
<div class="container">
    <div class="row firstRow">
        <h2>Категории</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название RU</th>
                    <th>Название EN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each categories}}
                {{>categoryTableRow}}
            {{/each}}

            <tr>
                <td contenteditable="true" class="catRuTitle"></td>
                <td contenteditable="true" class="catEnTitle"></td>
                <td class="listsAddCategory fingerPointer"><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h2>Типы</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Название</th>
                <th>Имя</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each types}}
                {{>typeTableRow}}
            {{/each}}

            <tr>
                <td contenteditable="true" class="typeTitle"></td>
                <td contenteditable="true" class="typeName"></td>
                <td class="listsAddType fingerPointer"><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h2>Разделы</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each divisions}}
                {{>divisionTableRow}}
            {{/each}}

            <tr>
                <td contenteditable="true" class="divisionTitle"></td>
                <td class="divisionAdd fingerPointer"><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</template>