<template name="categoryTableRow">
    <tr class="{{isDefault}}">
        <td contenteditable="true" class="ruTitle">{{ruTitle}}</td>
        <td contenteditable="true" class="enTitle">{{enTitle}}</td>
        <td class="tableClearRenter fingerPointer"><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
</template>