<template name="divisionTableRow">
    <tr class="{{isDefault}}">
        <td contenteditable="true" class="title">{{title}}</td>
        <td class="tableClearDivision fingerPointer"><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
</template>