<template name="typeTableRow">
    <tr class="{{isDefault}}">
        <td contenteditable="true" class="title">{{title}}</td>
        <td contenteditable="true" class="name">{{name}}</td>
        <td class="typeClear fingerPointer"><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
</template>