<template name="sectionMenu">
    <div class="right floated">
        <div class="ui right pointing dropdown icon">
            <i class="settings icon"></i>
            <div class="menu">
                <div class="item" id="editSection">
                    <i class="edit icon"></i>
                    Изменить прибор
                </div>

                <div class="item" id="removeSection">
                    <i class="remove icon"></i>
                    Удалить прибор
                </div>
            </div>
        </div>
    </div>
</template>