<template name="controlPanel">
    <div class="container-fluid">
        <div class="row firstRow">
        	<div class ="col-md-6">
	            {{#if adminsGroup}}
                    <h2>Терминалы <a href="" class="addTerminal"><small>добавить</small></a></h2>
                {{else}}
                    <h2>Терминалы</h2>
                {{/if}}

	            {{#each Clients}}
	                {{>terminalDescription}}
	            {{/each}}
            </div>
        	<div class="col-md-6">
        		<h2>База данных</h2>
	            <div class="panel panel-default">
				    <div class="panel-heading">Обновление</div>
				    <div class="panel-body">
				        Последнее обновление: {{lastUpdate}}
				    </div>
				</div>

				<h2>Общие команды</h2>
	            <div class="panel panel-default">
				    <div class="panel-heading">Команды</div>
				    <div class="panel-body">
				        <button class="btn btn-default refreshAll">Обновить все</button>
		    			<button class="btn btn-warning rebootAll">Перезагрузить все</button>
		    			<!--<button class="btn btn-danger turnoffAll">Выключить все</button>-->
				    </div>
				</div>

				{{#if adminsGroup}}
				<h2>Аккаунты</h2>
	            <div class="panel panel-default">
				    <div class="panel-heading">Пароли</div>
				    <div class="panel-body">

						<div class="form-horizontal">
							<div class="form-group">
							    <label for="exampleInputName2" class="col-sm-2 control-label">user</label>
							    <div class="col-sm-5">
							    	<input type="text" class="form-control" id="userpwd" placeholder="новый пароль">
							    </div>
							    <div class="col-sm-2">
							    	<button class="btn btn-default changeupwd">изменить</button>
							    </div>
							</div>
						</div>

						<div class="form-horizontal">
							<div class="form-group">
							    <label for="exampleInputName2" class="col-sm-2 control-label">superuser</label>
							    <div class="col-sm-5">
							    	<input type="text" class="form-control" id="supwd" placeholder="новый пароль">
							    </div>
							    <div class="col-sm-2">
							    	<button class="btn btn-default changesupwd">изменить</button>
							    </div>
							</div>
						</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading">Почта</div>
				    <div class="panel-body">

						<div class="form-horizontal">
							<div class="form-group">
							    <label for="exampleInputName2" class="col-sm-2 control-label">superuser</label>
							    <div class="col-sm-5">
							    	<input type="text" class="form-control" id="sumail" placeholder="{{suMail}}" >
							    </div>
							    <div class="col-sm-2">
							    	<button class="btn btn-default changesumail">изменить</button>
							    </div>
							</div>
						</div>
				    </div>
				</div>
				{{/if}}

				<h2>Планировщик</h2>
	            <div class="panel panel-default">
				    <div class="panel-heading">Запланированные задачи</div>
				    <div class="panel-body">
				    	{{>sheduleTable}}
				    </div>
				</div>

                {{#if adminsGroup}}
                <h2>БД</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">Статистика</div>
                        <div class="panel-body">

                            <p>Записей в базе: {{statisticBDCount}}</p>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="exampleInputName2" class="col-sm-2 control-label">Удалить до: </label>
                                    <div class="col-sm-5">
                                        <div class="input-group datetimepicker">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input class="set-due-date form-control" id="removeBefore" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-danger deleteDb">удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

        	</div>
        </div>
    </div>
</template>