<template name="textContent">
   <div class="content">
      {{>textContentActions}}
      <div class="header">
         <i class="newspaper icon handler"></i>
         <!--№ {{position}} :-->
          <span>{{title}}</span>
      </div>
      <div class="meta">
         изменен: <span>{{timeToHuman modifiedAt}}</span>
      </div>
      <div class="description" style="background-color: lightgray">
          {{{html}}}
      </div>
   </div>
   <div class="extra content">
      <i class="check icon"></i>
      создан: <span >{{timeToHuman createdAt}}</span>
   </div>
</template>
