<template name="activeImageModal">
    <div class="ui long modal image">
        <div class="header">
            <div class="ui transparent fluid icon input">
                Активная картинка
                <i class="crosshairs icon"></i>
            </div>
        </div>
        <div class="content">
            <div class="ui large image" style="width:100%; height: auto;">
                {{#if section.image}}
                    <img class="ui centered medium image" src="{{fileURL section.image}}" id="activeImage">
                {{else}}
                    <img class="ui centered medium image" src="/assets/images/image.png" id="activeImage">
                {{/if}}
            </div>
        </div>
        <input type="file" id="activeImageInput" accept="image/jpeg,image/png" style="visibility:hidden;display:hidden;" />
        <div class="actions">
            <div class="ui deny button">Отмена</div>
            <button class="ui positive right labeled icon button">
                Сохранить
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</template>
