<template name="sections">
    {{>sectionsHeader}}
    <div class="ui container content">

        {{#if devicesCount}}

            {{#unless hasContent}}
                <div class="ui message" style="margin: 14px">
                    <ul class="list">
                        {{#if isActiveZoneSection}}
                            <li>Активная точка не содержит контент. Добавьте контент.</li>
                        {{else}}
                            <li>Прибор не содержит контент. Добавьте контент.</li>
                        {{/if}}
                    </ul>
                </div>
            {{/unless}}

        {{else}}
            <div class="ui message" style="margin: 14px">
                <ul class="list">
                    <li>Не создано ни одного прибора. <a href="{{pathFor 'createSection' owner='root' language=params.language}}">Создайте</a> прибор.</li>
                </ul>
            </div>
        {{/if}}


        <div id="sortable">
            {{#each sectionList}}
                {{>section}}
            {{/each}}

            {{#each itemList}}
                {{>item}}
            {{/each}}
        </div>
    </div>
</template>