<template name="packModal">
  <div class="ui long modal" id="packModal">
    <div class="header">
      <div class="ui transparent fluid icon input">
        <!--<span style="margin-right:1rem;font-weight:normal;">№{{position}}</span>-->
        <input type="text" value="{{title}}" placeholder="Введите название" id="title">
        <i class="archive icon"></i>
      </div>
    </div>
    <div class="content">
      <span class="ui button" id="selectImages">Выбрать картинки</span>
      <!--<span class="ui checkbox" style="margin-left: 1rem;">-->
        <!--<input type="checkbox">-->
        <!--<label>Сохранить как отдельные картинки</label>-->
     <!--</span>-->
      <div class="ui three column grid packofmedia">
         {{#each files}}
            <div class="column">
                <div class="packimage" style="background-image:url({{fileURL this}})"></div>
            </div>
         {{/each}}
      </div>
      <input id="multipleInput" multiple accept="image/jpeg,image/png" type="file" style="visibility:hidden;display:hidden;" />
    </div>
    <div class="actions">
      <div class="ui deny button">Отмена</div>
      <button  class="ui positive right labeled icon button">
        Сохранить
        <i class="checkmark icon"></i>
      </button>
    </div>

  </div>
</template>
