<template name="activeZoneListItem">
    <div class="item">
        <!--<img class="ui avatar image" src="/images/avatar/small/daniel.jpg">-->
        <i class="crosshairs icon ui avatar image"></i>
        <div class="content">
            <a class="header">{{title}}</a>
        </div>
    </div>
</template>