<template name="clearRenterModal">
    <div class="modal fade" id="clearRenterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Подтвердите</h4>
                </div>
                <div class="modal-body">
                    Подтвердите очистку арендатора
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default textCloseBtn" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger textSaveBtn clearRenterBtn">Очистить</button>
                </div>
            </div>
        </div>
    </div>
</template>