<template name="guests">
    <div class="ui container">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    Guests(total: {{guestsTotal}})
                </div>
                <div class="description">
                    <table class="ui celled striped table">
                        <thead>
                        <tr>
                            <th style="width:5%">rfid</th>
                            <th>name</th>
                            <th class="center aligned">zone1 ({{zone1T}}/{{zone1F}})</th>
                            <th class="center aligned">mzone ({{mzoneT}}/{{mzoneF}})</th>
                            <th class="center aligned">drink ({{drinkT}}/{{drinkF}})</th>
                            <th class="center aligned">raincoat ({{raincoat}})</th>
                            <th class="center aligned">hoodie ({{hoodie}})</th>
                        </tr>
                        </thead>

                        {{#each guests}}
                            <tr>
                                <td>{{this.rfid}}</td>
                                <td>{{this.name}}</td>
                                <td class="center aligned">
                                    {{#if this.zone1}}
                                        <i class="large green checkmark icon"></i>
                                    {{else}}
                                        <i class="large red close icon"></i>
                                    {{/if}}
                                </td>
                                <td class="center aligned">
                                    {{#if this.mzone}}
                                        <i class="large green checkmark icon"></i>
                                    {{else}}
                                        <i class="large red close icon"></i>
                                    {{/if}}
                                </td>
                                <td class="center aligned">
                                    {{#if this.drink}}
                                        <i class="large green checkmark icon"></i>
                                    {{else}}
                                        <i class="large red close icon"></i>
                                    {{/if}}
                                </td>
                                <td class="center aligned">{{this.raincoat}}</td>
                                <td class="center aligned">{{this.hoodie}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
