<template name="topMenu">
    <style>
        body{
            padding-top: 55px;
        }
    </style>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="{{pathFor 'home'}}" class="header item">
                Guests table
            </a>

            <div class="right menu">
                <div class="ui simple dropdown item">
                    <i class="content icon"></i>
                    <div class="menu">
                        <a class="{{active 'guests'}} item" href="{{pathFor 'guests' language=language}}">Settings</a>
                        <a class="item" href="{{pathFor 'logout'}}">Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>