<template name="menuSection">
<div class="item" >
  <div class="right floated" data-html="<img style='max-width: 200px;' src='{{fileURL file}}'>">
      {{#if file}}
          <i class="icon file image outline"></i>
      {{/if}}
  </div>
   <i class="large folder icon"></i>
   <div class="content">
     <a style="color:teal !important;" class="header">{{title}}</a>
   </div>
</div>
</template>
