<template name="menuActions">
    <div class="ui right floated teal buttons">
        <div class="ui button">Действие</div>
        <div class="ui floating dropdown icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="header">
                    <i class="info circle icon"></i>
                    Добавить:
                </div>
                <div class="ui fitted divider"></div>
                {{#each contentActions}}
                    {{>menuActionItem}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
