<template name="removeItemModal">
  <div class="ui small basic modal remove transition">
     <div class="ui icon header">
        <i class="trash icon"></i>
        Удалить {{getRemoveName}}
     </div>
     <div class="content" style="text-align:center;">
        <p>Эта {{getRemoveName}} будет удалена без возможности восстановить.</p>
        <p>Вы точно хотите это сделать?</p>
     </div>
     <div class="actions" style="text-align:center;">
        <div class="ui red basic cancel inverted button">
           <i class="remove icon"></i>Нет
        </div>
        <div class="ui green ok inverted button">
           <i class="checkmark icon"></i>Да
        </div>
     </div>
  </div>
</template>
